@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Noticia+Text:700,400);

body {
  background: #f0f3f8;
  padding-top: 50px;
}

body.modal-open,
.modal-open .navbar-fixed-top {
  margin-right: 0;
}

#header .navbar {
  background: #1591b5;
  border-color: #106982;
  z-index: 500;
}

#header .navbar > ul > li > a {
  height: 50px;
}

#header .navbar-inverse .navbar-nav>.open>a,
#header .navbar-inverse .navbar-nav>.open>a:hover,
#header .navbar-inverse .navbar-nav>.open>a:focus {
  background: #106982
}

.toolbar-fixed #header .navbar {
  top: 39px;
}
.toolbar-tray-open #header .navbar {
  top: 79px;
}

body.toolbar-fixed { padding-top: 89px !important; }
body.toolbar-tray-open { padding-top: 129px !important; }

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color: #F2F2F2;
}

.navbar-inverse .navbar-nav>li>a {
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#header .navbar .navbar-brand {
  background: url(../logo-inverse.png) 0 10px no-repeat;
  background-size: contain;
  width: 146px;
  overflow: hidden;
  text-indent: -9999px;
  position: absolute;
  left: 50%;
  margin-left: -73px;
}

#sidebar-first {
  background: #2f3946;
  position: absolute;
  width: 250px;
  top: 50px;
  bottom: 0;
  border-right: 1px solid #1e2732;
  position: fixed;
}
body.toolbar-fixed #sidebar-first { top: 89px; }
body.toolbar-tray-open #sidebar-first { top: 129px; }

#main-wrapper.sidebar_first {
  margin-left: 251px;
}

#sidebar-first #block-main-menu .content ul {
  margin: 0;
  border-bottom: 1px solid #1e2732;
  box-shadow: 0 1px 0 #384352;
}
#sidebar-first #block-main-menu .content ul a {
  padding: 16px;
  color: white;
  border-top: 1px solid #1e2732;
  box-shadow: inset 0 1px 0 #384352;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}
#sidebar-first #block-main-menu .content ul a:hover {
  background: #333d4a;
  text-decoration: none;
}
#sidebar-first #block-main-menu .content ul a:active {
  background: #283341;
  box-shadow: none;
}

#copyright {
  position: absolute;
  width: 250px;
  bottom: 0;
  color: rgba(255,255,255,0.4);
  text-align: center;
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
}
#copyright a {
  color: rgba(255,255,255,0.4);
}

#page-title {
  font-family: 'Noticia Text', serif;
}

.view-header .btn,
.add-btn {
  margin-top: -45px;
}

.container {
	max-width: 730px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

#header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.front.not-logged-in .tabs {
  display: none;
}

.front.not-logged-in .title,
.user-login-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.front.not-logged-in .title {
  padding-bottom: 0;
}

.user-login-form {
  padding-top: 0;
}

.user-login-form .form-control {
  padding: 10px;
  font-size: 16px;
  height: auto;
  position: relative;
}

.user-login-form .form-control:focus {
  z-index: 2;
}

.user-login-form input[type="text"] {
  margin-bottom: -15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.user-login-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media all and (max-width: 560px) {
  .nav>li>a {
    padding: 7px;
    margin-top: 6px;
  }
}

.bethel-podcaster-video-form .form-control {
  padding-right: 65px;
}

.bethel-podcaster-video-form .btn {
  margin-top: -44px;
  padding: 3px 10px;
  margin-right: 5px;
}

.node-type-podcast .field-name-field-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}

@media all and (max-width: 560px) {
  .node-type-podcast .field-name-field-image {
    float: none;
    margin-right: 0;
  }
  .node-type-podcast .field-name-field-image img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
  }
  .node-type-podcast .content > .btn {
    width: 100%;
  }
}

.not-logged-in.node-type-podcast #main-menu,
.not-logged-in.node-type-podcast .tabs {
  display: none;
}

.node-type-podcast .content > .btn {
  margin-left: 20px;
}

.node-type-podcast .field-name-field-copyright {
  margin-top: 20px;
  font-size: 12px;
}

#video_wrapper,
#bethel_wrapper {
  clear: both;
  margin-top: 20px;
}

.image-style-hero {
  margin-top: -30px;
  max-width: 100%;
  height: auto;
}

#site-name a:hover {
  text-decoration: none;
}

.messages {
  margin-bottom: 10px;
}

.navbar {
  background: #3c3c3c;
}

@media all and (max-width: 560px) {
  .navbar {
    min-height: 40px;
  }
  .navbar-brand {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
  }
  .navbar p {
    font-size: 12px;
    margin: 0;
    padding: 12px;
    padding-bottom: 0;
  }
  .page-user:not(.page-user-edit) #page-title {
    background: black;
    font-size: 100%;
    margin-top: 0;
  }
  #primary-menu-links li:nth-child(1) {
    display: none;
  }
}

#block-views-block-frontpage img {
  max-width: 100%;
  height: auto;
}

.page-podcaster table.responsive-enabled {
  width: 100%;
}

.page-podcaster table.responsive-enabled th {
  font-weight: 200;
  font-size: 14px;
  padding: 10px 0;
}

.page-podcaster table.responsive-enabled td.thumb {
  width: 100px;
  padding-bottom: 5px;
  padding-right: 20px;
}

.page-podcaster table.responsive-enabled td.title {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.page-podcaster table.responsive-enabled th.subscribers,
.page-podcaster table.responsive-enabled td.subscribers,
.page-podcaster table.responsive-enabled th.type,
.page-podcaster table.responsive-enabled td.type {
  width: 90px;
  text-align: center;
}

.page-podcaster table.responsive-enabled td.type {
  font-weight: 200;
}

.page-podcaster table.responsive-enabled td.subscribers span {
  font-size: 22px;
  font-family: 'Noticia Text', serif;
}

.page-podcaster table.responsive-enabled td.operations {
  text-align: right;
  width: 140px;
}

.pac-container {
  z-index: 1040 !important;
}

.page-locations div.thumbnail {
  margin-bottom: 20px;
}
